# Decsion Trees are based on three points named Entropy , information gain and giny impurity
# Ideal selection of nodes and predicting separate classes requires low entropy , high information gain , and low genie impurity

# Entropy is the measure of randomness in the data with the formula H(S) = - sum(p_i * log2(p_i))
# information gain computes the diffrence between the entropy after split and and average entropy after split(low entropy high information gain
# and high entropy low information gain) IG(S, A) = H(S) - sum(|S_v|/|S| * H(S_v))
 # where IG(S, A) is the information gain of attribute A on set S, H(S) is the entropy of set S, |S_v| is the number of examples in subset S_v that have value v for attribute A, and |S| is the total number of examples in set S.

# The summation is taken over all possible values of attribute A. The attribute that maximizes information gain is chosen as the splitting attribute at the current node.

# To build a decision tree, the data is recursively split based on the attributes that provide the most information gain until a stopping criterion is met, such as all examples in a node belonging to the same class or the tree reaches a certain depth.

# Information gain is a key concept in decision trees and is used to construct decision trees that are able to make accurate predictions for new, unseen data

In [20]:
# installing the dependencies

import pandas as pd
import numpy as np
from pprint import pprint

In [21]:
# importing the data set
df = pd.read_csv("zoo.csv",names=['Animal_name','air','Feathers','Eggs','Milk','Airborne','Aquatic','Predator','Toothed','Backbone'
,'Breathes','Venomous','Fins','Legs','Tail','Domestic','Catsize','Class_type'])

In [22]:
df.drop(index=0 ,axis= 0,inplace= True)

In [23]:
df.drop('Animal_name',axis=1)  # the animal name is dropped as it irrelevant

,air,Feathers,Eggs,Milk,Airborne,Aquatic,Predator,Toothed,Backbone,Breathes,Venomous,Fins,Legs,Tail,Domestic,Catsize,Class_type
1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
2,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
3,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
4,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
5,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
98,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
99,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
100,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
101,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

# designing the decision tree